<div class="bank-list-container">
  <h2>Elenco Utenti</h2>

  <table>
    <thead>
      <tr>
        <th>username</th>
        <th>password</th>
        <th>Bloccato</th>
        <th>Gestisci Bloccato</th>
        <th>Gestisci Password </th>
        <th>Elimina Utente</th>
        <!-- Aggiungi altre colonne se necessario -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">

        <td>{{ user.nomeUtente }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.bloccato }}</td>
        <td>
          <button (click)="bloccaSbloccaUtente(user)">Blocca/Sblocca Utente</button>
        </td>
        <td>
          <button (click)="modificaPassword(user)">Modifica Password </button>
        </td>
        <td>
          <button (click)=" eliminaUtente(user)">Elimina Utente</button> 
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <button (click)="aggiungiUtente()">Aggiungi Utente</button>
</div>
