<div class="bank-list-container">
  <h2>Elenco Banche</h2>

  <table>
    <thead>
      <tr>
        <th>Nome Banca</th>
        <th>Funzionalità</th>
        <th>Gestisci Utenti</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bank of banks">
        <td>{{ bank.nome }}</td>
        <td>
          <ul>
            <li *ngFor="let funzione of funzionalita">{{ funzione.nome }}</li>
          </ul>
        </td>
        <td>
          <button>Gestisci Utenti</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
